body {
  font-size: 16px;
  // background-color: #00cdbc30;

}

// DASHBOARD
.navbar {
  background-color: #00cdbc;
  
  * {
    color: #fff;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

}

.sidebar-sticky {

  .nav-link {
    color: #00ab9a;
    white-space: nowrap;
    overflow: hidden;
  }
}

.card {
  margin-top: 2rem;
}

.card-header {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #00cdbc;
}

.btn-brand {
  background-color: #00cdbc;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border: none; 
}

.btn:disabled {
  background-color: #00cdbc80;
  border: none;
  color: #777
}

.form-check-input:checked {
  background-color: #00cdbc;
  border: 1px solid #00cdbc80
}

.form-control:focus,
.form-check-input:focus,
.btn:focus {
  border: 2px solid #00cdbc;
  box-shadow: none;
}

.btn-link {
  color: #00cdbc;
  font-weight: bold;
}



main {
  background-color: #00cdbc30;
  height: 100vh;
}

.user-page {

  .user-details {
    color: #008978;
  }

  img {
    width: 100%;
    border-radius: 2rem;
  }
}

nav.sidebar {
  position: sticky;
  top: 0;
}